<md-content class="md-padding"
            style="background: url('../images/background.jpg');"/><!-- ng-if="!isNewHouseChecked && houseWasChosen"-->

<div layout="row" layout-sm="column" md-colors="{color: 'red-A100', border-color: 'primary-600'}"
     style="background-color: #DDDDDD;">
    <form ng-submit="insertFood()" class="md-padding">
        <md-input-container>
            <label>nom du manger sur le site</label>
            <input type="text" ng-model="foodToUpload.foodName" name="text" required/>
        </md-input-container>

        <md-input-container>
            <label> description du manger :</label>
            <input type="text" ng-model="foodToUpload.descryption" name="text" required/>
        </md-input-container>

        <md-input-container>
            <label> prix :</label>
            <input type="text" ng-model="foodToUpload.price" name="text" required/>
        </md-input-container>

        <fieldset class="standard">
            <legend><label class="myFontTitle">Kashrout</label>
            </legend>
            <div layout="row" layout-wrap flex>
                <div flex>
                    <md-checkbox ng-model="foodToUpload.bassari" ng-change="check('bassari')"<label class="myFont">bassari</label>
                    </md-checkbox>
                    <md-checkbox ng-model="foodToUpload.parve" ng-change="check('parve')"><label class="myFont">parve</label>
                    </md-checkbox>
                    <md-checkbox ng-model="foodToUpload.halavi" ng-change="check('halavi')"><label class="myFont">halavi</label>
                    </md-checkbox>
                </div>
            </div>
        </fieldset>
        <fieldset class="standard">
            <legend><label class="myFontTitle">Detaille De Nouritoure</label>
            </legend>
            <div layout="row" layout-wrap flex>
                <div flex>
                    <md-checkbox ng-model="foodToUpload.vegan"><label class="myFont">vegan</label>
                    </md-checkbox>
                    <md-checkbox ng-model="foodToUpload.vegetarian"><label class="myFont">vegetarian</label>
                    </md-checkbox>
                </div>
            </div>
        </fieldset>
        <fieldset class="standard">
            <legend><label class="myFontTitle">Emplacment</label>
            </legend>
            <div layout="row" layout-wrap flex>
                <div flex>
                    <md-checkbox ng-model="foodToUpload.inKeytring"><label class="myFont"> en commend que par keytring</label>
                    </md-checkbox>
                    <md-checkbox ng-model="foodToUpload.inSucurSal"><label class="myFont">en sucursal</label>
                    </md-checkbox>
                </div>
            </div>
        </fieldset>
        <center>
        </center>
    </form>
    <form name="testForm" layout="column" ng-submit="updatePictures()">
        <lf-ng-md-file-input name="files" lf-files="files" lf-required  lf-mimetype="image/*" multiple drag preview></lf-ng-md-file-input>
        <div ng-messages="testForm.files.$error" style="color:red;">
        </div>
        <md-button class="md-raised md-primary" type="submit" id="submit">שמור
        </md-button>
    </form>
</div>
</md-content>